{% extends 'blog/blog_base_20240112.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}



{% block head_add %}
    {{ block.super }}
{% endblock %}

{% block header_menu %}
    <a href="{% url "back_stage:index" %}" class="logo"><span class="lite">博主简历</span></a>
    <a class="logo"><span class="lite">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></a>
    <a href="{% url "blog:PostListView" %}" class="logo"><span class="lite">文章列表</span></a>
{% endblock %}


{% block search %}
    {% csrf_token %}
    <script src={% static "javascripts/jquery.min.js" %}></script>
    <input class="form-control" id="form-control" placeholder="文章名称、内容" type="text" onkeydown="if(event.keyCode==13) {search_by_post_title_body()}">

    <script>
        function search_by_post_title_body() {           
            var searchValue = $("#form-control").val(); // 获取表单字段的值
            var url = "{% url 'blog:PostListView' %}?search_by_post_title_body=" + searchValue;
            window.location.href = url;
        }
    </script>

{% endblock %}

{% block left_sidebar %}
    <div class="row">
        <div class="col-sm-12">
            {% comment %} <label>&ensp;标签：&ensp;</label> {% endcomment %}
            <div class="form-group" style="padding-left: 12px;">
                {% include 'blog_tags_count.html' with page=jobs_page %}
            </div>
        </div>
    </div>
    <div id="navigation">
        
        <h2>本文目录</h2>
        <ul id="article-toc"></ul>
    </div>

    

    

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 获取所有章节标题            
            var sections = document.querySelectorAll("#content a[name]"); 
            var navigation = document.getElementById('navigation');
            console.log("sections:",sections);

            // 动态生成目录
            var ul = document.createElement('ul');
            sections.forEach(function (section, index) {
                var li = document.createElement('li');
                var a = document.createElement('a');
                var sectionText = section.getAttribute("name").trim();
                a.textContent = sectionText;
                a.href = "#" + encodeURIComponent(sectionText);// 使用 sectionText 作为链接的锚点                
                
                li.appendChild(a);
                ul.appendChild(li);
            });

            navigation.appendChild(ul);

            // 获取所有目录链接
            var links = document.querySelectorAll("#navigation a");

            // 添加点击事件监听器
            links.forEach(function (link, index) {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    handleSectionClick(index);
                });
            });

            // 监听滚动事件
            window.addEventListener("scroll", handleScroll);

            // 处理滚动事件的函数
            function handleScroll() {
                var currentScroll = window.scrollY;

                sections.forEach(function (section, index) {
                    var sectionTop = section.offsetTop - navigation.offsetTop;
                    var sectionBottom = sectionTop + section.clientHeight;

                    if (currentScroll >= sectionTop && currentScroll < sectionBottom) {
                        handleSectionHighlight(index);
                    }
                });
            }

            // 处理点击事件的函数
            function handleSectionClick(index) {
                var targetSection = sections[index];

                // 添加平滑滚动效果
                window.scrollTo({
                    top: targetSection.offsetTop - navigation.offsetTop + 0,
                    behavior: "smooth"
                });

                // 高亮显示当前章节
                handleSectionHighlight(index);
            }

            // 处理章节高亮的函数
            function handleSectionHighlight(index) {
                // 移除所有章节的 active 类
                sections.forEach(function (s) {
                    s.classList.remove("active");
                });

                // 高亮显示当前章节
                sections[index].classList.add("active");

                // 高亮显示左侧目录对应条目
                links.forEach(function (link, i) {
                    if (i === index) {
                        link.classList.add("active");
                    } else {
                        link.classList.remove("active");
                    }
                });
            }
        });
    </script>
    

{% endblock %}

{% block main_content %}
    <script src={% static "javascripts/jquery.min.js" %}></script>

    <div id="content" class="" style="padding-left: 5px; padding-right: 5px;">                    
                                                                    
        <h1>{{ post.title }}</h1>
        <style>
            .date {
                background-color: #f0f0f0; /* 这里可以使用你想要的浅色背景色值 */
                padding: 10px; /* 可选，添加一些内边距以提高可读性 */
            }
        </style>
        <p class="date">
            {{ post.publish }} | {{ post.author }} &nbsp;|&nbsp;
            标签：
                {% for tag in post.tags.all %}
                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
        </p>
        {% comment %} <h4 class="panel-subtitle" style="margin-top: 1px; margin-bottom: 1px;">
            <p class="tags">
                <h5>
                标签：
                {% for tag in post.tags.all %}
                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </h5>
            </p>

        </h4> {% endcomment %}

        {{ post.body|markdown }}

        <p>
            <a href="{% url "blog:post_share" post.id %}">分享文章</a>
        </p>


        <h2>相似文章</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
        {% empty %}
            还没有相似的文章
        {% endfor %}



        {% with comments.count as total_comments %}
            <h2>

                {{ total_comments }} 评论
            </h2>

            {% for comment in comments %}
                <div class="comment">
                    <p class="info">
                        Comment {{ forloop.counter }} by {{ comment.name }}
                        {{ comment.created }}
                    </p>
                    {{ comment.body|linebreaks }}
                </div>
            {% empty %}
                <p>还没有评论</p>
            {% endfor %}

            {% if new_comment %}
                <h2>Your comment has been added.</h2>
            {% else %}
                <h2>新增一条评论</h2>
                <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="新增评论"></p>
                </form>
            {% endif %}
        {% endwith %}

        

        

        {% if tag %}
            <h2>Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}

    </div>

    <div align="center">
        {#        <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">苏ICP备2023005863号</a>#}
            <a target="_blank" href="https://beian.miit.gov.cn/" ><p>苏ICP备2023005863号</p></a>
        </div>
    
        {#    <div style="width:300px;margin:0 auto; padding:20px 0;">#}
        <div align="center">
    
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32050802010946" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="\static\images\备案图标.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32050802010946号</p></a>
        </div>

{% endblock %}

{% block right_sidebar %}
    
    <div>
        <h2>文章列表</h2>
        <p>我已经写了{% total_posts %} 篇文章</p>
        <h3>最新发表</h3>
        {% show_latest_posts 3 %}

        <h3>最多评论</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
        {% for post in most_commented_posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>


        <p><a href='{% url "blog:post_feed" %}'>RSS订阅</a></p>

    </div>
    

{% endblock %}


